config GCC_OPTIMISE_LEVEL
    default "-Os"

config BOARD_BOOT2FILE
    default "$BL_SDK_BASE/bsp/board/bl616dk/config/boot2_bl616_isp_release_v8.1.8.bin"

config BOARD_PTFILE
    default "$BL_SDK_BASE/bsp/board/bl616dk/config/partition_cfg_4M.toml"

config BOARD_DTSFILE
    default "$BL_SDK_BASE/bsp/board/bl616dk/config/bl_factory_params_IoTKitA_auto.dts"
