-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_MBEDTLS_AES_USE_HW    =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW    =y
CONFIG_MBEDTLS_SHA1_USE_HW   =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y

CONFIG_WIFI_IPERF=y
# CONFIG_WIFI_GATEWAY=y
CONFIG_WIFI_TCP_HIGH_PERF ?= n

CONFIG_BFLB_MTD =y
CONFIG_PARTITION =y
CONFIG_LITTLEFS =y

CONFIG_CONSOLE_UART_BAUDRATE = 2000000

CONFIG_MACSW_SELECT = vela_616_lp

ifeq ($(CHIP),bl602)
    override CONFIG_WIFI_TCP_HIGH_PERF = n
endif

ifeq ($(CONFIG_WIFI_TCP_HIGH_PERF),y)
ifneq ($(CHIP),bl602)
    CONFIG_MACSW_SELECT = tcp_bench
    CONFIG_WIFI_TCP_HIGH_PERF_SND_BUF_MSS ?= 232
    CONFIG_WIFI_TCP_HIGH_PERF_HEAP_KB ?= 116
endif
endif

ifeq ($(CHIP),bl618dg)
    CONFIG_ROMAPI             =n
    CONFIG_DUALCORE_DISABLE   =y
    CONFIG_WRAM_FOR_AP_SIZE   = 0x50000
    CONFIG_RAM_FOR_AP_SIZE    = 0x50000
endif
