config BOARD_BOOT2FILE
    default "$BL_SDK_BASE/bsp/board/bl702dk/config/boot2_bl702_release_v8.1.2.bin"

config BOARD_PTFILE
    default "$BL_SDK_BASE/bsp/board/bl702dk/config/partition_cfg_2M_boot2_isp.toml"

config BOARD_DTSFILE
    default "$BL_SDK_BASE/bsp/board/bl702dk/config/bl_factory_params_IoTKitA_32M.dts"
